<clickhouse>
    <remote_servers>
      <cns>
        <shard>
          <internal_replication>true</internal_replication>
          <replica>
            <host>clickhouse1</host>
            <port>9000</port>
          </replica>
          <replica>
            <host>clickhouse3</host>
            <port>9000</port>
          </replica>
        </shard>
        <shard>
          <internal_replication>true</internal_replication>
          <replica>
            <host>clickhouse2</host>
            <port>9000</port>
          </replica>
          <replica>
            <host>clickhouse4</host>
            <port>9000</port>
          </replica>
        </shard>
      </cns>
    </remote_servers>
    <zookeeper>
        <node>
            <host>clickhouse-keeper-1</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-2</host>
            <port>9181</port>
        </node>
    </zookeeper>
    <macros>
        <shard>02</shard>
        <replica>02</replica>
    </macros>
</clickhouse>